<!DOCTYPE html>
<html lang="en" ng-app="RegFormApp">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>

        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

        <!-- libs -->
        <script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/angular/angular.js"></script>
        <!--<script src="/libs/angular-animate/angular-animate.js"></script>-->

        <!-- scripts -->
        <script src="/regformapp.js"></script>
        <!--<script src="/flowers.js"></script>-->
    </head>

    <body ng-controller="RegFormCtrl as regFormCtrl">

        <div class="container" ng-show="regFormCtrl.showDisplay=='register'">
            <!--Heading-->
            <div class="row">
                <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12" >
                    <div class="jumbotron" text-center>
                        <h1>User Registration Form</h1>
                    </div>
                </div>
            </div>

            <!--form-->
            <form name="registerForm" ng-submit="regFormCtrl.submitForm()" novalidate>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input id="email" class="form-control" type="email" name="email" 
                        required ng-model="regFormCtrl.email">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" class="form-control" type="text" name="password" 
                        required ng-model="regFormCtrl.password">
                </div>
                
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" class="form-control" type="text" name="name" 
                        required ng-model="regFormCtrl.name">
                </div>

                <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input id="dob" class="form-control" type="date" name="dob" 
                        placeholder="DD-MM-YYYY" min="1910-01-01" max=Date.now()
                        required ng-model="regFormCtrl.dob">
                        <!--<span ng-bind="convertToDate(myDate) | date:'medium'"></span>-->
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <input id="address" class="form-control" type="text" name="address" 
                        required ng-model="regFormCtrl.address">
                </div>

                <div class="form-group">
                    <label for="contact">Contact No.:</label>
                    <input id="contact" class="form-control" type="text" name="contact" 
                        required ng-model="regFormCtrl.contact">
                </div>
                
                <div class="form_group">
                    <label for="country">Country:</label>
                    <select class="form-control" ng-model="regFormCtrl.country" ng-options="x for x in regFormCtrl.country_list" required>
                    </select>
                </div>

                <br>
                <!--radio buttons-->
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="regFormCtrl.gender" name="gender" value="Male" required>
                            <code>Male</code>
                        </label>
                        <label>
                            <input type="radio" ng-model="regFormCtrl.gender" name="gender" value="Female" required>
                            <code>Female</code>
                        </label>
                    </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control" 
                        ng-disabled="registerForm.$invalid">
                        <i class="fa fa-paper-plane"></i>
                        Submit
                    </button>
                </div>
            </form>

            <br>

            <!--Display error message -->
            <!--<div ng-show="regFormCtrl.errmsg.length==0">-->
            <div ng-show="regFormCtrl.errStatus">
                <h3 style="color: red"> Error(s): </h3>
                <div ng-repeat="msg in regFormCtrl.errmsg">
                    <h4 style="color:red"> - {{ msg }}</h4>
                    <!--<h4> {{regFormCtrl.errmsg}} </h4>-->
                </div>
            </div>

        </div>

        <!--Thank You page -->
        <div class="container" ng-show="regFormCtrl.showDisplay=='success'">
            <!--Heading-->
            <div class="row">
                <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12" >
                    <div class="jumbotron" text-center>
                        <h1>Form submission successful</h1>
                        <h1> Thank You </h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submission fail page -->
        <div class="container" ng-show="regFormCtrl.showDisplay=='fail'">
            <!--Heading-->
            <div class="row">
                <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12" >
                    <div class="jumbotron" text-center>
                        <h1 class="fail">Form submission failed</h1>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>